<section class="footer p-2">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0">
            &copy; 2024 The-Voice.
          </p>
        </div>
        <div class="col-md-6 text-md-end">
          <p class="mb-0">
            <span class="footer-links">
              Legal Stuff | <a href="https://legal.hubspot.com/privacy-policy" target="_blank">Privacy Policy</a> | Security
            </span>
          </p>
        </div>
      </div>
    </div>
  </section>
  