<app-navbar></app-navbar>
<div *ngIf="issues.length > 0" class="container mt-5 d-flex flex-column align-items-center">
  <img [src]="issues[currentIndex].imageurl" alt="Issue Image" class="issue-image">
  <p class="issue-description">{{ issues[currentIndex].description }}</p>

  <div class="btn-group mt-3" role="group" aria-label="Issue Navigation">
    <button type="button" class="btn btn-secondary" (click)="showPreviousIssue()">Previous</button>
    <button type="button" class="btn btn-secondary ms-3" (click)="showNextIssue()">Next</button>
  </div>

  <div class="mt-3">
    <button type="button" class="btn btn-outline-success mr-4" (click)="transferDataToSolve()">Transfer to Solve Issues</button>
    <button type="button" class="btn btn-outline-danger ms-3" (click)="transferDataToSpam()">Transfer to Spam</button>
  </div>
</div>
